<template name="messagesPage">
  <div class="messages">
    {{#each messages}}
      <div class="message">
        <div class="message_header">
          {{sender}} &rarr; {{recipient_names}}
        </div>
        {{content}}
      </div>
    {{/each}}
  </div>
  <div class="new_message">
    <div class="message_holder">
      <div class="header">
        <span class="from">Ik</span> &rarr; <span class="to">Insert selected users here</span>
      </div>
      <div class="content">
        <form>
          <textarea class="form-control" rows="3" value="Type je bericht..."></textarea>
        </form>
      </div>
    </div>
  </div>
</template>
