<template name="messagesPage">
  <div class="messages">
    {{#each messages}}
      <div class="message">
        <div class="message_header">
          {{sender}} &rarr; {{recipient_names}}
        </div>
        {{content}}
      </div>
    {{/each}}
  </div>
  <div class="new_message">
    <div class="message_holder">
      <div class="header">
        <span class="from">Ik</span> &rarr; <span class="to">{{selected_users}}</span>
      </div>
      <div class="message_form">
        <div class="content">
          <form>
            <textarea class="form-control" rows="3" placeholder="Type je bericht..."></textarea>
          </form>
        </div>
        <div class="control">
          <a href="#" class="btn btn-onverse btn-lg white">
            <img src="/images/Messagebutton.svg" alt="Stuur bericht">
          </a>
        </div>
      </div>
    </div>
  </div>
</template>
