<template name="messagesPage">
  <div class="project_title">
    <img class="embed_svg" height="80" src="/images/Projecticon.svg"/>
    {{title}}
  </div>
  <div class="messages">
    {{#each messages}}
      <div class="message_holder position-{{sender_location}}">
        <!-- Position reply control (aligned) on top of message -->
        <div class="control">
          <a href="#" class="reply_message" data-message-id="{{message_id}}">
            <img src="/images/Replybutton.svg" alt="Beantwoord bericht">
          </a>
        </div>
        <div class="message">
          <div class="header">
            {{sender}} &rarr; {{recipient_names}}
          </div>
          <div class="content">
            {{content}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="new_message">
    <div class="message_holder">
      <div class="header">
        <span class="from">Ik</span> &rarr; <span class="to">{{selected_users}}</span>
      </div>
      <div class="message_form">
        <div class="content">
          <form>
            <textarea name="messagecontent" rows="3" placeholder="Type je bericht..."></textarea>
          </form>
        </div>
      </div>
      <div class="control">
        <a href="#" class="send_message">
          <img src="/images/Messagebutton.svg" alt="Stuur bericht">
        </a>
      </div>
    </div>
  </div>
</template>
