<template name="projectTabs">
  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation">
        <a href="#members" aria-controls="members" role="tab" data-toggle="tab">
          {{_ "Members"}} <span class="badge">{{member_count}}</span>
        </a>
      </li>
      <li role="presentation">
        <a href="#photos" aria-controls="photos" role="tab" data-toggle="tab">
          Fotos <span class="badge">{{photos.count}}</span>
        </a>
      </li>
      {{#if can_add_item}}
        <li class="pull-right">
          <button class="btn btn-primary add-kind">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{_ "add_kind" translated_kind}}
          </button>
        </li>
      {{/if}}
      <li role="presentation">
        <a href="#members_dial" aria-controls="members_dial" role="tab" data-toggle="tab">
          Dial
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade" id="members" aria-labelled-by="members">
        {{> members}}
      </div>
      <div role="tabpanel" class="tab-pane fade" id="photos" aria-labelled-by="photos">
        {{> photospage}}
      </div>
      <div role="tabpanel" class="tab-pane fade" id="members_dial" aria-labelled-by="members_dial">
        {{> members_dial}}
      </div>
    </div>
  </div>
</template>
