<template name="projectTabs">
  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation">
        <a href="#foto" aria-controls="foto" role="tab" data-toggle="tab">
          Foto's <span class="badge">{{photos.count}}</span>
        </a>
      </li>
      <li role="presentation">
        <a href="#members_dial" aria-controls="members_dial" role="tab" data-toggle="tab">
          Dial
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade" id="foto" aria-labelled-by="foto">
        {{> photospage}}
      </div>
      <div role="tabpanel" class="tab-pane fade" id="members_dial" aria-labelled-by="members_dial">
        {{> members_dial}}
      </div>
    </div>
  </div>
</template>
