<template name="login">
  <div class="logo">
    <img src="/images/Logobig.svg" alt="Logo">
  </div>
  <div class="dialog center">
    <form>
      <div class="border">
        <span class="help-block mxi">{{errorMessage}}</span>
        {{#unless resetPassword}}
          <input type="text" name="email" placeholder="Email"
                 required="required"/>
        {{/unless}}
        <input type="password" name="password" placeholder="Wachtwoord" required="required"/>
        {{#if newUserOrResetPassword}}
          <input type="password" name="password2" placeholder="Nogmaals wachtwoord" required="required"/>
        {{/if}}
      </div>
      <div class="buttons">
        <button class="dialog-button" type="submit">{{loginButtonText}}</button>
        {{#unless resetPassword}}
          <button class="dialog-button new-user">{{newUserButtonText}}</button>
        {{/unless}}
        {{#unless newUserOrResetPassword}}
          <button class="dialog-button password-recovery">Wachtwoord vergeten</button>
        {{/unless}}
      </div>
    </form>
  </div>
</template>
