<template name="login">
  <img src="/images/Logobig.svg" class="img-responsive center-block" alt="Logo"
       style="max-width: 50%; max-height: 50%" vspace="50"/>
  <center>
    <form>
      <div class="dialog">
        <span class="help-block mxi">{{errorMessage}}</span>
        <input type="text" name="email" placeholder="Email"
                required="required"/>
        <input type="password" name="password"
               placeholder="Wachtwoord" required="required"/>
        {{#if newUser}}
          <input type="password" name="password2"
                 placeholder="Nogmaals wachtwoord" required="required"/>
        {{/if}}
      </div>
      <div class="buttons">
        <button class="dialog-button" type="submit">{{loginButtonText}}</button>
        <button class="dialog-button new-user">{{newUserButtonText}}</button>
        {{#unless newUser}}
          <button class="dialog-button password-recovery">Wachtwoord vergeten</button>
        {{/unless}}
      </div>
    </form>
  </center>
</template>
