html, body {
  height: 100%;
  background-color: #4a5c68;
  color: #666666;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.dialog, .buttons {
  width: 80vw;
  max-width: 400px;
}

/* Position a block (div) centered */
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Display a block (div) bordered (yellow/orange) */
.border {
  border-width: 2px;
  border-color: #ffcf00;
  border-style: solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 5px;
  background-color: #66757e;
}

/* Add space between 2 consecutive bordered elements */
.border + .border {
  margin-top: 5px;
}


a:link {
  color: ##FFCF00;
  text-decoration: underline;
  }

a:visited {
  color: #FFFFFF;
  text-decoration: underline;
}

.img-circle {
  border-radius: 50%;
}

.dialog input {
  color: #FFFFFF;
  width: 93%;
  max-width: 370px;
  padding: 10px;
  background-color: #66757E;
  border: none;
  border-radius: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dialog input[type="password"] {
  text-overflow: clip;
}

.dialog input:not(:last-child) {
  border-bottom: 1px #FFFFFF solid;
}

.dialog-button {
  display: inline-block;
  width: 47%;
  min-width: 130px;
  max-width: 200px;
  background: #66757E;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff;
  border: solid #ffffff 0px;
  padding: 5px 20px 5px 20px;
  margin-top: 5px;
  text-decoration: none;
  /*white-space: nowrap;*/
}

/* For 3 or more buttons use separate (centered) lines */
.dialog-button:first-child:nth-last-child(n + 3),
.dialog-button:first-child:nth-last-child(n + 3) ~ .dialog-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dialog-button:active {
  color: #FFCF00;
}

.dialog .help-block:empty {
	display: none;
}

.dialog h2, .controls label {
  color: #fff;
  font-weight: normal;
}

#spinner {
  height: 300px;
}

.help-block.mxi {
  color: #FFCF00;
}

.jumbotron {
  text-align: center;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 100;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

/* Button appearance */
a.button {
  cursor: pointer;
}

/* Input elements */
button, input, select, textarea {
  margin: 0px;
  width: 100%;
  font: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

select[multiple] {
  height: auto;
}

.text_unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Prevent 'glow' on input elements on Safari */
*:focus {
	outline: none;
}
