<template name="projectEdit">
  <center>
    <form>
      <div class="login">
        <input type="text" name="title" placeholder="Project titel"
               required="required" value="{{title}}" />
        <input type="text" name="description" value="{{description}}"
               placeholder="Project beschrijving" />
      </div>
      <div class="buttons">
        <button class="login-button" type="submit">OK</button>
        <button class="login-button cancel">Annuleer</button>
      </div>
    </form>
  </center>
</template>
