<template name="photoNew">
  <form name="photo" class="item-form form" enctype="multipart/form-data">
	  <div class="form-group">
      <div class="controls">
        <div class="fileUpload btn btn-primary btn-lg">
          <span class="glyphicon glyphicon-camera"></span>
          <input class="upload" id="fileinput" type="file" name="bitmap" accept="image/*">
        </div>
        {{#if hasUploadedPhotos}}
          <div>
            <label>{{photoCount}} foto(s) zijn geupload. Klik op OK om foto(s) te bewaren.</label>
          </div>
        {{/if}}
      </div>
    </div>
    <button type="submit" class="btn btn-primary submit">{{_ "OK"}}</button>
    <button type="button" class="btn btn-default cancel">{{_ "Cancel"}}</button>
  </form>
</template>
