.full {
  position: absolute;
  width: 100%;
  height: 80vh; /* Need to change once page is full screen */
  background-color: #4A5C68;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
}

.title {
  position: absolute;
  width: 200px;
  height: 200px;
  left: -100px;
  top: -100px;
  line-height: 200px;
  border-radius: 100px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  color: #FFFFFF;
  cursor: pointer;
}

.title span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2em;
}

.circular {
  position: absolute;
}

.dial_item {
  position: absolute;
  width: 6em;
  left: -3em;
  text-align: center;
  height: 4em;
  top: -2em;
  vertical-align: middle;
  color: #FFFFFF;
  cursor: pointer;
}

.dial_item svg {
  width: 3em;
}

.circular.selected svg * {
  fill: #FFCF00;
  stroke: #FFCF00;
}

.items svg.self ellipse:first-of-type {
  fill: #FFCF00;
  stroke: #FFCF00;
}

.circular.selected img.img-overlay {
  position: absolute;
	display: block;
  width: 30%;
  top: -10px;
  left: 20%;
}

.circular:not(.selected) img.img-overlay {
  display: none;
}

.text_unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.circle, .line {
  stroke: #FFFFFF;
  stroke-width: 3px;
}

.circle {
  fill: none;
}

.position_tick {
  transform: translate(50%,50%);
}

.img-circle {
  border-radius: 50%;
}
/*
.circle {
  position: absolute;
  width: 200px;
  height: 200px;
  left: -100px;
  top: -100px;
  border-radius: 100px;
  background-color: #4A5C68;
}
*/
