.full_screen {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 80vh;
}

svg.fill_parent {
  width: 100%;
  /* Since height: 100% will not work here, use same size as height above */
  height: 80vh;
}

g.subject, g.item {
  fill: #ffffff;
}

g.item.selected {
  fill: #ffcf00;
}

g.subject use:not(:last-child), g.item:not(.selected) use:not(:last-child) {
  fill: none;
}

svg text {
  font-size: 30px;
  fill: #ffffff;
}

g.item, g.subject {
  cursor: pointer
}

g.item.dragging, g.subject.dragging {
  cursor: move;
}
