<template name="addMember">
  <center>
    <form>
      <div class="login">
        <div class="form-group">
          <div class="controls">
            <label for="members">Kies projectleden</label>
            <select name="members" multiple="multiple" class="form-control member-select">
              {{#each users}}
                <option selected="{{userIsMember}}" value="{{_id}}">{{email}}</option>
              {{/each}}
            </select>
          </div>
        </div>
      </div>
      <div class="buttons">
        <button class="login-button" type="submit">Voeg toe</button>
        <button class="login-button cancel">Annuleer</button>
      </div>
    </form>
  </center>
</template>
