<template name="members_dial">
  <div class="full">
    <div class="full">
      <svg width="100%" height="100%">
        <circle class="circle" cx="50%" cy="50%" r="80"/>
<!--
        <g class="position_tick">
          {{#circularTick project_members 100 105}}
            <line class="line" x1="{{x1}}" y1="{{y1}}" x2="{{x2}}" y2="{{y2}}"/>
          {{/circularTick}}
        </g>
-->
      </svg>
    </div>
    <div class="center">
      {{#each project_members}}
        <div class="circular" style="{{positionCircular @index project_members.count 120}}">
          <div class="dial_member" user_id="{{_id}}">
            <div>
              <img class="embed_svg" src="/images/Personicon.svg" alt="{{email}}">
            </div>
            <div class="text_unselectable">
              {{email}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  {{#if add_members}}
    <div style="position: absolute;">
      <div class="form-group">
        <div class="controls">
          <label for="members">Projectleden</label>
          <select name="members" multiple="multiple" class="form-control member-select">
            {{#each users}}
              <option selected="{{userIsMember}}" value="{{_id}}">{{email}}</option>
            {{/each}}
          </select>
        </div>
      </div>
    </div>
  {{/if}}
</template>
