<template name="profilePage">
  <div class="dialog center">
    <h2>
      {{#if inEditMode}}
        Bewerk profiel
      {{/if}}
      {{#if inViewMode}}
        Bekijk profiel
      {{/if}}
    </h2>
    <form>
      <div class="border">
        <input type="text" name="name" placeholder="Naam"
            value="{{user.name}}" {{input_readonly}}>
        <input type="tel" name="telephone_nr" placeholder="Telefoonnummer"
            value="{{user.telephone_nr}}" {{input_readonly}}>
        <input type="text" name="skype_id" placeholder="Skype ID"
            value="{{user.skype_id}}" {{input_readonly}}>
      </div>
      {{#if inEditMode}}
        <div class="border" id="gravatar_help">
          <p>Registreer uw email-adres en avatar bij
            <a href="https://gravatar.com">gravatar.com</a>
            om deze te gebruiken in plaats van het standaard icoon.
          </p>
        </div>
      {{/if}}
      <div class="buttons">
        {{#if inEditMode}}
          <button class="dialog-button submit-button" type="submit">OK</button>
          <button class="dialog-button cancel-button" type="button">Annuleer</button>
        {{/if}}
        {{#if inViewMode}}
          <button class="dialog-button close-button" type="button">OK</button>
        {{/if}}
      </div>
    </form>
  </div>
</template>
