<template name="addMember">
  <div class="dialog center">
    <h2>Nieuwe projectleden</h2>
    <form>
      <div class="border">
        <div class="member-selection">
          <select name="members" multiple="true" class="member-select">
            {{#each users}}
              <option value="{{_id}}">{{name}} &lt;{{email}}&gt;</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="buttons">
        <button class="dialog-button" type="submit">OK</button>
        <button class="dialog-button cancel">Annuleer</button>
      </div>
    </form>
  </div>
</template>
