<template name="footer">
  <div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
</button>
          
		<button type="button" class="btn btn-default btn-lg">
			<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
		</button> 
		<button type="button" class="btn btn-default btn-lg">
			<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
		</button> 
		<button type="button" class="btn btn-default btn-lg">
			<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
		</button> 		
		
		  </div>
        </div>
  </div>
</template>

<!--
	Lijst van icons: http://www.w3schools.com/bootstrap/bootstrap_ref_comp_glyphs.asp
-->