.navbar-footer .white, .navbar-footer .white:visited {
  color: #fff;
}
.navbar-footer .white:hover, .navbar-footer .white:active {
  color: #ffcf00;
}

.navbar-footer img {width: 100%; height: auto; border: 0px}
