<template name="footer">
  {{#if currentUser}}
    <div class="navbar navbar-footer navbar-default navbar-fixed-bottom" role="navigation">
      <div class="container-fluid">
        <div class="btn-group btn-group-justified">
          <a href="#" class="btn btn-inverse btn-lg white"><img src="/images/Camerabutton.svg" alt="Maak foto"></a>
          <a href="#" class="btn btn-inverse btn-lg white"><img src="/images/Messagebutton.svg" alt="Stuur bericht"></a>
          <a href="skype:{{selected_members_skype_ids}}?call" class="btn btn-inverse btn-lg white"><img src="/images/Callbutton.svg" alt="Bel"></a>
          <a href="#" class="btn btn-inverse btn-lg white"><img src="/images/Callenderbutton.svg" alt="Plan afspraak"></a>
        </div>
      </div>
    </div>
  {{/if}}
</template>

<!--
	Lijst van icons: http://www.w3schools.com/bootstrap/bootstrap_ref_comp_glyphs.asp
-->
