<template name="footer">
  {{#if currentUser}}
    <div class="navbar navbar-footer navbar-default navbar-fixed-bottom" role="navigation">
      <div class="container-fluid">
        <div class="btn-group btn-group-justified">
          <a href="{{sms_url}}" class="btn btn-inverse btn-lg white">
            {{#if selected_users}}
              <img src="/images/Messagebutton.svg" alt="Stuur bericht">
            {{else}}
              <img src="/images/Messagebutton - disabled.svg" alt="Selecteer eerst een persoon">
            {{/if}}
          </a>
          <a href="{{phone_url}}" class="btn btn-inverse btn-lg white">
            {{#if selected_users}}
              <img src="/images/Callbutton.svg" alt="Bel">
            {{else}}
              <img src="/images/Callbutton - disabled.svg" alt="Selecteer eerst een persoon">
            {{/if}}
          </a>
          <a href="#" class="btn btn-inverse btn-lg white add">
            <img src="/images/Addbutton.svg" alt="Voeg toe">
          </a>
          <a class="btn btn-inverse btn-lg white logout">
            <img src="/images/Logoutbutton.svg" alt="Log uit">
          </a>
        </div>
      </div>
    </div>
  {{/if}}
</template>

<!--
	Lijst van icons: http://www.w3schools.com/bootstrap/bootstrap_ref_comp_glyphs.asp
-->
