.footer .controls {
  /* Grow controls container to size of individual controls */
  overflow: hidden;
  width: 100%;
}

.footer .controls .control {
  /* Put 4 controls next to each other (put on horizontal line) */
  float: left;
  width: 25%;

  /* Center image within control */
  text-align: center;
}

.footer .controls .control img {
  /* Set width of image (retaining aspect ratio), based on font size */
  width: 4em;
}
